<!doctype html>
<html lang="en">
{% load static %}
<head>
    <title>GAS Nepal</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/nepali.datepicker.v2.2.min.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel ="stylesheet">

</head>
<body>
<!--Sidebar(Hamburger menu)-->
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <ul class="list-unstyled components mb-5">
                <li>
                    <a href="{%url 'homepage'%}">Homepage</a>
                </li>
                <li class="active">
                    <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse" href="#homeSubmenu">क्षेत्र</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="{%url 'country_list'%}">देश</a>
                        </li>
                        <li>
                            <a href="{%url 'province_list'%}">प्रदेश</a>
                        </li>
                        <li>
                            <a href="{%url 'district_list'%}">जिल्ला</a>
                        </li>
                        <li>
                            <a href="{%url 'local_level_list'%}">स्थानीय तह</a>
                        </li>
                        <li>
                            <a href="{%url 'local_level_type_list'%}">स्थानीय तह प्रकार </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a aria-expanded="false" class="dropdown-toggle" data-toggle="collapse"
                       href="#pageSubmenu">समय</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="{%url 'fiscal_year_list'%}">आर्थिक वर्ष</a>
                        </li>
                        <li>
                            <a href="{%url 'month_list'%}">महिना</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="{%url 'gender_list'%}">लिङ्ग</a>
                </li>
                <li>
                    <a href="{%url 'privileged_list'%}">समवेशी समूह</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div class="p-2 p-md-2" id="content">

        <!--        <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
        <div class="container-fluid">

            <button class="btn btn-primary" id="sidebarCollapse" style="margin-bottom: 15px;" type="button">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
            <!--                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
            <!--                        class="btn btn-dark d-inline-block d-lg-none ml-auto" data-target="#navbarSupportedContent"-->
            <!--                        data-toggle="collapse" type="button">-->
            <!--                    <i class="fa fa-bars"></i>-->
            <!--                </button>-->


        </div>
        </nav>
        {%block content %}
        {% endblock content %}
    </div>
</div>
<script src="{% static 'js/nepali.datepicker.v2.2.min.js'%}"></script>
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/popper.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
</script>
<script>
    $(document).ready(function () {
        $('#data_table').DataTable();

         $('#date_bs').nepaliDatePicker({
        dateFormat: "%y-%m-%d",
        closeOnDateSelect: true
    });

    $("#date_bs").bind("dateChange change", function(event) {
        var date = $("#date_bs").val().split(/[-/]+/);
        var bs = calendarFunctions.getAdDateByBsDate(parseInt(date[0]), parseInt(date[1]), parseInt(date[2]));
        var bsDate = bs2adDate(bs);
        $('#date_ad').val(bsDate);
    });

    $('#date_ad').change(function(event) {
        var date = new Date($(this).val());
        var res = calendarFunctions.getBsDateByAdDate(date.getFullYear(), date.getMonth() + 1, date.getDate());
        var formatedNepaliDate = calendarFunctions.bsDateFormat("%y-%m-%d", res.bsYear, res.bsMonth, res.bsDate);
        $('#date_bs').val(formatedNepaliDate);
    });

    });
</script>
</body>
</html>