{% extends "data_handler/base.html" %}
{% block content %}
<div class="row">
    <div align="left" class="col-md-4" style="margin-left: 15px">
        <a class="btn btn-outline-success" href="{% url 'country_add' %}">Add New  <i class="fas fa-plus"></i></a>
    </div>
    <div align="center" class="col-md-3">
        <h1 align="center">देश</h1>
    </div>

</div>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-xs-12">-->
<!--            <div class="modal" id="DeleteModal" tabindex="-1">-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <button class="close" data-dismiss="modal">&times;</button>-->
<!--                            <h4 class="modal-title">Delete Confirmation</h4>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                            Are you sure you want to delete the record of {{country.country_en}} ?-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                          -->
<!--                            <button class="btn btn-danger">Delete</button>-->
<!--                            -->
<!--                            <button class="btn btn-primary" data-dismiss="modal">Close</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="card">
    <form method="get">
        <div class="row">
            <div align="left" class="col-md-9">
                {{my_filter.form}}
            </div>
            <div align="right" class="col-md-3">
                <button class="btn btn-primary"  type="submit"><i class ="fas fa-search"></i>  Search</button>
            </div>
        </div>
    </form>
</div>
<br>
<table id="data_table" class="table-striped">
    <thead class="thead" >
    <tr>
        <th scope="col">SN</th>
        <th scope="col">Code</th>
        <th scope="col">देशको नाम</th>
        <th scope="col">Country Name</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for country in country_list %}
    <tr>
        <td>{{country.id}}</td>
        <td>{{country.code}}</td>
        <td>{{country.name_lc}}</td>
        <td>{{country.name_en}}</td>
        <td> <a class="btn text-secondary-px-0" href="{% url 'country_update' country.id %}">
                    <i class="fas fa-edit fa lg text-success"></i>
                </a>
                      <form action="{% url 'country_delete' country.id %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    <button class="btn" type="submit">
                        <i class="fas fa-trash-alt  text-danger float-right"></i>
                    </button>
                      </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}


