{% extends "data_handler/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1 align="center">आर्थिक बर्ष</h1>
<form action="" method="post" autocomplete="off">
    {%csrf_token%}
    {{form.code|as_crispy_field}}
    <div class="row">
        <div class="col-md-6">
            {{form.start_date_ad|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.end_date_ad|as_crispy_field}}
        </div>
    </div>

       <div class="row">
        <div class="col-md-6">
          <label>Date bs</label>
            <input type="text" id="date_bs">
        </div>
        <div class="col-md-6">
            <label>
                <input type="date" id="date_ad">
            </label>
        </div>
    </div>

            <br>
    <div class="row">

        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg">Submit </i>
            </button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'fiscal_year_list' %}" class="btn btn-secondary btn-block btn-lg">Back to list</i></a>
        </div>
    </div>

</form>




{% endblock content %}