    {% extends "data_handler/base.html" %}
    {% block content %}
    <div class="row">
    <div align="left" class="col-md-4" style="margin-left: 15px">
        <a class="btn btn-outline-success" href="{% url 'fiscal_year_add' %}">Add New  <i class="fas fa-plus"></i></a>
    </div>
    <div align="center" class="col-md-3">
        <h1 align="center">आर्थिक वर्ष</h1>
    </div>

</div>

<div class="card">
    <form method="get">
        <div class="row">
            <div align="left" class="col-md-9">
                {{my_filter.form}}
            </div>
            <div align="right" class="col-md-3">
                <button class="btn btn-primary"  type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<br>
<table id="data_table" class="table-striped">
    <thead class="thead" >
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Code</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
        <th scope="col">देखि</th>
        <th scope="col">सम्म</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for fiscal_year in fiscal_year_list %}
    <tr>
      <td>{{fiscal_year.id}}</td>
      <td>{{fiscal_year.code}}</td>
      <td>{{fiscal_year.start_date_ad}}</td>
        <td>{{fiscal_year.end_date_ad}}</td>
        <td>{{fiscal_year.start_date_bs}}</td>
        <td>{{fiscal_year.end_date_bs}}</td>
        <td> <a class="btn text-secondary-px-0" href="{% url 'fiscal_year_update' fiscal_year.id %}">
                    <i class="fas fa-edit fa lg text-success"></i>
                </a>
        <form action="{% url 'fiscal_year_delete' fiscal_year.id %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    <button class="btn" type="submit">
                        <i class="fas fa-trash-alt  text-danger float-right"></i>
                    </button>
                </form>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% endblock content %}
