{% extends "data_handler/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1 align="center">लिङ्ग</h1>
<form action="" method="post" autocomplete="off">
    {%csrf_token%}
    <div class="row">
        <div class="col-md-6">
            {{form.name_en|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.name_lc|as_crispy_field}}
        </div>
    </div>
         <br>
    <div class="row">

        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg">Submit </i>
            </button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'gender_list' %}" class="btn btn-secondary btn-block btn-lg">Back to list</i></a>
        </div>
    </div>

</form>
{% endblock content %}