    {% extends "data_handler/base.html" %}
    {% block content %}
    <div class="row">
    <div align="left" class="col-md-4" style="margin-left: 15px">
        <a class="btn btn-outline-success" href="{% url 'local_level_type_add' %}">Add New  <i class="fas fa-plus"></i></a>
    </div>
    <div align="center" class="col-md-3">
        <h1 align="center">स्थानीय तह प्रकार</h1>
    </div>

</div>
<div class="card">
    <form method="get">
        <div class="row">
            <div align="left" class="col-md-9">
                {{my_filter.form}}
            </div>
            <div align="right" class="col-md-3">
                <button class="btn btn-primary"  type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<br>
<table id="data_table" class="table-striped">
    <thead class="thead" >
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Code</th>
      <th scope="col">नाम</th>
      <th scope="col">Name</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for local_level_type in local_level_type_list %}
    <tr>
      <td>{{local_level_type.id}}</td>
      <td>{{local_level_type.code}}</td>
      <td>{{local_level_type.name_lc}}</td>
        <td>{{local_level_type.name_en}}</td>
        <td> <a class="btn text-secondary-px-0" href="{% url 'local_level_type_update' local_level_type.id %}">
                    <i class="fas fa-edit fa lg text-success"></i>
                </a>
        <form action="{% url 'local_level_type_delete' local_level_type.id %}" class="d-inline" method="POST">
                    {% csrf_token %}
                    <button class="btn" type="submit">
                        <i class="fas fa-trash-alt  text-danger float-right"></i>
                    </button>
                </form>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    {% endblock content %}
